h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-variant: small-caps;
}

h2{
    font:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 25px;
}